.container {
  position: relative;
  width: calc(100% + 2 * var(--space-lg));
  height: calc(100dvh - var(--bottomnav-height) - 2 * var(--space-lg));
  margin: calc(-1 * var(--space-lg));
  overflow: hidden;
}

@media (min-width: 769px) {
  .container {
    height: calc(100dvh - 2 * var(--space-lg));
  }
}
